/Tests/Application/cache/*
/Tests/Application/logs/*
/Tests/Application/data/*
/node_modules/
/.sass-cache/

# PHPUnit
/app/phpunit.xml
/phpunit.xml
.phpunit.result.cache

# composer
/composer.phar
/composer.lock
/auth.json
/vendor

# IDEs
.idea/*
*.iml
*~

# tests
Tests/Application/var
Tests/Application/.env.test.local

# php-cs-fixer
.php_cs.cache
php-cs-fixer
