includes:
    - vendor/jangregor/phpstan-prophecy/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon

parameters:
    paths:
        - .
    level: max
    excludes_analyse:
        - %currentWorkingDirectory%/DependencyInjection/Configuration.php
        - %currentWorkingDirectory%/Tests/*
        - %currentWorkingDirectory%/vendor/*
    symfony:
        container_xml_path: %rootDir%/../../../Tests/Application/var/cache/admin/test/Sulu_Bundle_AutomationBundle_Tests_Application_KernelTestDebugContainer.xml
        console_application_loader: Tests/phpstan/console-application.php
    doctrine:
        objectManagerLoader: Tests/phpstan/object-manager.php
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#Symfony\\Contracts\\EventDispatcher\\EventDispatcherInterface::dispatch()#'
